bleach==6.2.0
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1666788519867/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1739515848642/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1725560622100/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
click==8.1.7
cloudpickle==3.0.0
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
conda==4.11.0
conda-package-handling @ file:///Users/runner/miniforge3/conda-bld/conda-package-handling_1666837471707/work
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1637648810489/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
dask==2023.10.0
duckdb==1.4.4
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1643722481604/work
fsspec==2023.10.0
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1701026962277/work
importlib-metadata==6.8.0
joblib==1.1.0
kaggle==1.7.4.5
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1635836816114/work
locket==1.0.0
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1639359043885/work
munkres==1.1.4
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1707225689808/work/dist/numpy-1.26.4-cp39-cp39-macosx_11_0_arm64.whl#sha256=989042d872faf31c0434bd99fec5ec09b5c5d9a0b8125edd0ae869c5d8851048
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1769093650/work
pandas==1.3.5
partd==1.4.1
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1644499459631/work
polars==1.36.1
polars-runtime-32==1.36.1
protobuf==6.33.5
pycosat @ file:///Users/runner/miniforge3/conda-bld/pycosat_1732588445684/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1633192417276/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1690737849915/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
python-slugify==8.0.4
pytz==2021.3
PyYAML==6.0.1
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1755614211359/work
ruamel-yaml-conda @ file:///Users/runner/miniforge3/conda-bld/ruamel_yaml_1695546309954/work
scikit-learn==1.0.2
scipy==1.7.3
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
sklearn==0.0
text-unidecode==1.3
threadpoolctl==3.0.0
toolz==0.12.0
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1648827299372/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1640031049741/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1708239446578/work
webencodings==0.5.1
xlrd==2.0.1
zipp==3.17.0
